---
import ResumeList from '../../ui/ResumeList.astro'
import { formatDate } from '../../../utils/dates'
import AnnotatedText from '../../ui/AnnotatedText'
interface Props {
    entry: EducationData
}
const { entry } = Astro.props
---
<div>
    <div class="flex justify-between items-baseline gap-4">
        <h3 class="font-medium">{entry.institution}</h3>
        <span class="font-mono text-sm text-muted-foreground shrink-0">
            {formatDate(entry.start).concat(" \u2014 ", entry.end ? formatDate(entry.end) : "Present")}
        </span>
    </div>

    <div class="flex justify-between items-baseline mb-2">
        <span class="font-mono text-sm text-muted-foreground">{entry.degree}</span>
        <span class="font-mono text-sm text-muted-foreground">{entry.location}</span>
    </div>

    <ResumeList>
        {entry.gpa && (
            <li class="gap-2 items-start">
                <span class="font-medium">GPA:</span>
                <AnnotatedText client:visible description={entry.gpa} annotations={entry.annotations} />
            </li>
        )}

        {entry.activities && (
            <li class="gap-2 items-start">
                <span class="font-medium">Activities:</span>
                <AnnotatedText client:visible description={entry.activities} annotations={entry.annotations} />
            </li>
        )}
    </ResumeList>
</div>

